
.App{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
.main{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 width: 100%; 
 margin: 15px;
}
.top-button{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  }
.rlButton{
  width: 85%;
  display: flex;
  justify-content: space-around;
 }
.left{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100px;
}
.right{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100px;
}
.bottom-button{
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 10px; 
}
button{ 
  padding: 20px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}
button:hover{
  background-color: aqua;
  color: black;
  box-shadow: 6px 6px 10px black;
}
#phaser-game{
  display: flex;
  justify-content: center;
 }
